:root {
    --primary-color: #5386E4;
    --secondary-color: #7394E3;
    --accent1-color: #949396;
    --accent2-color: #FFFFFF;
}

h1, h2 {
    color: var(--primary-color);
    font-family: "boldonse", serif;
}

p {
    color: var(--text-color);
    font-family: "Winky Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo title nav";
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #ccc;
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

nav {
    display: flex;
    justify-content: center; 
    justify-self: end;
    gap: 0px; 
    padding: 1rem; 
    border-radius: 10px; 
}

.nav-button {
    display: inline-block;
    padding: 10px 20px; 
    text-align: center;
    justify-self: end;
     text-decoration: none; 
    font-size: 1.5rem;
    font-weight: bold;
    color: black; 
    background-color: white; 
    border: 2px solid black; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .hero {
        height: 50vh;
    }
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'Boldonse', sans-serif;
    font-size: 3rem;
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute;
    bottom: 10%;
    margin: 4rem auto 0;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    font-family: 'Winky Sans', serif;
    z-index: 5;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 40%;
    height: auto;
    border-radius: 8px;
}

.hero article p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 0;
}

.history {
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--secondary-color);
    margin-top: 1rem;
}

.history h2{
    color: #FFFFFF;
    font-family: 'Boldonse', serif;
    font-size: 2.5rem;

}

.history-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.history-left, .history-right {
    width: 40%;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.history-image {
    width: 20%;
    display: flex;
    justify-content: center;
}

.history-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .history-container {
        flex-direction: column;
        text-align: center;
    }

    .history-left, .history-right, .history-image {
        width: 100%;
    }
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    justify-items: center;
    background-color: var(--secondary-color) ;
}

.adventures h2 {
    grid-column: span 5;
    font-size: 2.5rem;
     color: #FFFFFF;  
  margin-bottom: 2rem;
    font-family: 'Boldonse', serif;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .adventures {
        grid-template-columns: 1fr;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-bottom: 3rem;
    margin-top: 1rem;
    height: 50;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-bottom: 2px solid #ccc;
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
    flex-grow: 1;
}

footer nav {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

footer nav img {
    width: 40px;
    justify-self: right;
    align-items: center;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

section {
    padding: 2rem;
    background-color: var(--accent2-color);
}

section img {
    width: 100%;
    height: auto;
    border: radius 8px;
}
